<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="404page" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register New Account</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
      <div class="signupContainer">
          <h1 class="signupHeader">Secure Signup</h1>
          <form action="/signup/newaccount" method="post" class="signupForm">
              <input type="text" name="username" id="username" placeholder="Username" required />
              <input type="password" name="password" id="password" placeholder="Password" required />
              <input type="submit" value="Submit Credentials">
          </form>
          <div id="userExistsPopup" class="popup">
            <p>User already exists. Please choose a different username.</p>
          </div>
      </div>
    </main>
    <script defer>
      if (<%= uef %> != 0) {
        const popup = document.getElementById('userExistsPopup')
        popup.style.visibility = 'visible'
      }
  </script>
  </body>
</html>